/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
padding-top: 3.5rem;
}


:root {
--light-blue: #8ecae6;
--blue-green: #219ebc;
--white: #ffffff;
--blue: #023047;
--slate: #5e6a79;
--yellow: #ffb703;
--orange: #fb8500;
--light-grey:#888888;
}




.jumbotron{
background-image: url("assets/images/about.png");
border-radius: 0;
background-size: cover;
height:500px;

}


.jumbotron h1{
  color: var(--orange);

}

.jumbotron h2{
color: var(--white);
text-align: center;
}

.jumbotron p{
  color: var(--orange);
}

.container h1{
color: var(--orange);
text-align: center;
padding-top: 30px;
}

.container h2{
  color: var(--orange);

}


/* These are the cards */
.container img{
text-align: center;

padding: 10px;
margin:10px;
max-width: 100%;





} 


.example img{
text-align: center;
display: block;
margin: 0 auto;


}
/* These are the images in "One"*/

img{

text-align: center;
display: block;
padding: 10px;
margin:10px;
width: 50%;
margin: 0 auto;

}




.themed-grid-col {
padding-top: 15px;
padding-bottom: 15px;

background-color:#ffffff;

margin: auto;
margin: auto;

}

.themed-container {
padding: 15px;
margin-bottom: 30px;

background-color: rgba(0, 123, 255, .15);
border: 1px solid rgba(0, 123, 255, .2);
}

#greenlight-table img{
width:80%;
}





.img-thumbnail{
border:none;
}


.one{
padding: 15px;
margin: 0 auto;
border:none;
}

.one img{

width:200px;
margin: 15px;
padding: 15px;
}


.row a{
text-decoration: none;
color:#5e6a79;
}


.row a:hover{
text-decoration: none;
opacity: .8;
}


.btn{
border: 0;
background-color:#ffffff;
}

#bikewatch{
  background-color:var(--light-blue);
  color: var(--white);
  font-size: 14px;
  border-radius: 3px;
  border: none;

}


.featurette img{
width:70%;
}


.portfolio img{
border:1px;
margin: 0 auto; /* Added */
float: none; /* Added */
margin-bottom: 10px; /* Added */
width: fit-content;
}



.one img{
  width:auto;
}

.card-body img{
width: 100%;

}


#trish{
width:200px;
}

@media (max-width: 575px) {




body h1, h2, h3, h4, h5, h6, p, .card, .row {
margin:30px;
}

.card, .row, img {
margin:2px;
}

.jumbotron{
  background-image: url("assets/images/about.png");
  
  background-size: cover;
  height:500px;
  
  }


}




@media (max-width: 375px) {



  .jumbotron h1{
    font-size: 50px;
    
    }


    .jumbotron h2{
      font-size: 30px;
      
      }

     
  
  .card, .row, img {
  margin:2px;
  }
  

  
  }
  